<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sin_Engine.Properties.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sin_Engine_Try2.Properties.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sin_Engine_Try2.Properties.Game" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sin_Engine.Properties.GameSettings>
            <setting name="PlayerName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FOV" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="nearPlane" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="farPlane" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="fontName" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>15</value>
            </setting>
        </Sin_Engine.Properties.GameSettings>
        <Sin_Engine_Try2.Properties.GameSettings>
            <setting name="PlayerName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </Sin_Engine_Try2.Properties.GameSettings>
        <Sin_Engine_Try2.Properties.Game>
            <setting name="PlayerName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </Sin_Engine_Try2.Properties.Game>
    </userSettings>
</configuration>